html,
body {
   position: absolute;
   top:0;
   left:0;
   right: 0;
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
	background: url(../img/blu_stripes.png);
}

.nav > li > a {
	padding: 0;
}

.container {
	margin-top: 50px;
}

.main {
	padding-bottom:40px;   /* Height of the footer */
}

.new-post {
   text-align: center;
}

.bet {
   list-style-type: none;
   padding: 15px;
   border: 2px solid white;
   border-radius: 10px;
   text-align: center;
   margin-bottom: 10px;
}

.bet:last-child {
   margin-bottom: 0;
}

.mod-btns {
   text-align: center;
}

.mod-btns > button {
   background: none;
   border: none;
   font-weight: bold;
   color: blue;
   outline: none;
   transition: 0.3s;
}

.mod-btns > button:hover {
   opacity: 0.5;
}

footer {
   position: absolute;
   bottom: 0;
   height: 40px;
   width: 100%;
   text-align: center;
}